<template name='pollSlide'>

  <div class="ui container">
    <div class="ui basic segment">

      <h1 class="ui center {{color}} aligned header editable" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.title" data-content="Poll slide title"  data-position="top center">{{title}}</h1>

      {{#each questions}}
        <div class="ui {{../color}} segment">
          {{#unless isEditing}}
            {{#if help}}
              <button class="ui right floated icon compact button questionHelp" data-content="{{help}}" data-position="left center" data-variation="very wide">
                <i class="help icon "></i>
              </button>
            {{/if}}
          {{/unless}}
          <h2 class="ui header editable" data-title="The question you want to ask" data-content="Be smart about the way you ask this question if you want to get the right answers. Use bellow description and help fields to enhance your question." data-variation="very wide" data-field="chapters.{{../chapterIndex}}.slides.{{../slideIndex}}.questions.{{@index}}.text">
            {{text}}
          </h2>
          {{#if isEditing}}
          <div class="ui middle aligned stackable grid">
            <div class="four wide column">
              <div class="ui basic segment questionTypePopup" data-title="Type of the question" data-content="This will change the interface to answer to this question. Each question type will generate it's corresponding graph to show the answers." data-variation="very wide" data-position="right center">
                <input type="hidden" id="type_{{questionId}}" value="chapters.{{../chapterIndex}}.slides.{{../slideIndex}}.questions.{{@index}}.type">
                <select class="ui fluid labeled icon dropdown questionType" id="typeSelect_{{questionId}}">
                  <option value="rangeQuestion" {{isQuestionType 'rangeQuestion'}}>
                    <i class="dashboard icon"></i>
                    Range
                  </option>
                  <option value="singleChoiceQuestion" {{isQuestionType 'singleChoiceQuestion'}}>
                    <i class="selected radio icon"></i>
                    Single answer
                  </option>
                  <option value="multiChoicesQuestion" {{isQuestionType 'multiChoicesQuestion'}}>
                    <i class="checkmark box icon"></i>
                    Multiple answers
                  </option>
                  <option value="wordsQuestion" {{isQuestionType 'wordsQuestion'}}>
                    <i class="cloud icon"></i>
                    Words answer
                  </option>
                  <option value="multiPointsQuestion" {{isQuestionType 'multiPointsQuestion'}} disabled>
                    Points answer
                  </option>
                </select>

              </div>
            </div>
            <div class="four wide column">
              <div class="field">
                <small>Question description</small>
                <p class="editable" data-content="Can be a long text. Will be shown between the question and it's answers" data-position="bottom left" data-field="chapters.{{../chapterIndex}}.slides.{{../slideIndex}}.questions.{{@index}}.description">{{description}}</p>
              </div>
            </div>
            <div class="four wide column">
              <div class="field">
                <small>Question help</small>
                <p class="editable" data-content="Add's a question mark button on the side of the question with this text in a popup (such as this one)" data-position="bottom left" data-field="chapters.{{../chapterIndex}}.slides.{{../slideIndex}}.questions.{{@index}}.help">{{help}}</p>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui red fluid icon labeled button deleteQuestionBtn" data-ref="{{@index}}">
                <i class="delete icon"></i>
                Delete this question
              </div>
            </div>
          </div>
          {{else}} <!-- not editing  -->
            {{#if description}}
              <h3 class="ui header">{{description}}</h3>
            {{/if}}
          {{/if}}

          {{#if showAnswersStat questionId}}
            {{> UI.dynamic template=stat data=@index }}
            <div class="ui center aligned basic segment">
              <div class="ui animated fade button cancelAnswer" data-ref="{{questionId}}">
                <div class="visible content">Cancel my answer to this question</div>
                <div class="hidden content">
                  I changed my mind
                </div>
              </div>
            </div>
          {{else}} <!-- Show answers inputs -->
            {{> UI.dynamic template=type data=@index }} <!-- load the stat template type with current question index -->
            {{#if isEditing}}
              <br>
              <div class="ui green fluid icon labeled button addAnswerBtn" data-ref="{{@index}}">
                <i class="add icon"></i>
                Add another answer
              </div>
            {{/if}}
          {{/if}}

        </div>
        <div class="ui divider"></div>
      {{/each}}

      {{#if isEditing}}
        <div class="fluid ui primary icon labeled button addQuestionBtn">
          <i class="add icon"></i>
          Add another question
        </div>
        <br>
        <div class="ui two column grid">
          <div class="column">
            <div class="field">
              <small>Background image url</small>
              <p class="editable" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.backgroundImage">{{backgroundImage}}</p>
            </div>
          </div>
          <div class="column">
            <input type="hidden" class="slideColorInput" id="slideColorInput" value="chapters.{{chapterIndex}}.slides.{{slideIndex}}.color">
            <select class="ui fluid labeled icon dropdown slideColor" id="slideColor">
              <option value="">Color</option>
              {{#each colors}}
              <option {{isSelectedColor ../color this}} value="{{this}}"><div class="ui {{this}} empty circular label"></div>{{capitalize this}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      {{else}}
        {{#unless hasVotedAll slideIndex chapterIndex}}
        <div class="fluid huge ui positive icon labeled button submitAnswersBtn">
          <i class="check icon"></i>
          Submit answers
        </div>
        {{/unless}}
      {{/if}}

    </div>
  </div>

  <!-- deleteQuestionModal -->
  <div class="ui basic modal deleteQuestionModal">
    <i class="close icon"></i>
    <div class="ui icon header">
      <i class="trash icon"></i>
      Are you sure?
    </div>
    <div class="content">
      <h3 class="ui center aligned inverted header">You won't be able to revert this question deletion!</h3>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted icon labeled button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted icon labeled button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>

</template>
