<template name='pollSlide'>
  <div class="transitions-content">
    <div class="ui container">
      <div class="ui basic segment">
        <h1 class="ui center aligned header editable" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.title">{{title}}</h1>
        {{#each questions}}
          <div class="ui divider"></div>
          <div class="ui basic segment">
            <h2 class="ui header editable" data-field="chapters.{{../chapterIndex}}.slides.{{../slideIndex}}.questions.{{@index}}.text">{{text}}</h2>
            {{#if isEditing}}
            <div class="ui middle aligned grid">
              <div class="four wide column">
                <select class="ui fluid dropdown">
                  <option value="rangeQuestion" {{isQuestionType 'rangeQuestion'}}>Range question</option>
                  <option value="singleChoiceQuestion" {{isQuestionType 'singleChoiceQuestion'}}>Single answer question</option>
                  <option value="multiChoicesQuestion" {{isQuestionType 'multiChoicesQuestion'}}>Multiple answers question</option>
                  <option value="wordsQuestion" {{isQuestionType 'wordsQuestion'}}>Words answer question</option>
                  <option value="multiPointsQuestion" {{isQuestionType 'multiPointsQuestion'}}>Points answer question</option>
                </select>
              </div>
              <div class="four wide column">
                <h3 class="ui header editable" data-field="chapters.{{../chapterIndex}}.slides.{{../slideIndex}}.questions.{{@index}}.description">{{description}}</h3>
              </div>
              <div class="four wide column">
                <h3 class="ui header editable" data-field="chapters.{{../chapterIndex}}.slides.{{../slideIndex}}.questions.{{@index}}.help">{{help}}</h3>
              </div>
              <div class="four wide column">
                <div class="fluid ui grey icon labeled button addAnswerBtn" data-ref="{{@index}}">
                  <i class="add icon"></i>
                  Add an answer
                </div>
              </div>
            </div>
            {{else}} <!-- not editing  -->
              {{#if description}}
                <h3 class="ui header">{{description}}</h3>
              {{/if}}
            {{/if}}
            {{#if hasVoted @index ../slideIndex ../chapterIndex}}
              {{> UI.dynamic template=stat data=@index }}
            {{else}}
              {{#each betterAnswer answers @index ../slideIndex ../chapterIndex}}
                {{> UI.dynamic template=../type data=this }}
              {{/each}}
            {{/if}}
          </div>
        {{/each}}
        {{#if isEditing}}
          <div class="fluid ui basic icon labeled button addQuestionBtn">
            <i class="add icon"></i>
            Add a question
          </div>
        {{else}}
          {{#unless hasVotedAll slideIndex chapterIndex}}
          <div class="fluid huge ui positive icon labeled button submitAnswersBtn">
            <i class="check icon"></i>
            Submit answers
          </div>
          {{/unless}}
        {{/if}}
      </div>
    </div>

    <div class="ui basic modal questionTitleModal">
      <i class="close icon"></i>
      <div class="header">
        What is the question?
      </div>
      <div class="content">
        <div class="description">
          <div class="ui fluid input">
            <input type="text" placeholder="The question (ex: On a scale from 1 to 5, how would you rate the following options?)" id="questionTitle">
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="one fluid ui inverted buttons">
          <div class="ui ok green basic inverted button validateQuestionAdd">
            <i class="checkmark icon"></i>
            Let's ask it
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
