<template name='videoSlide'>

  <div class="ui container">
    <div class="ui basic center aligned segment">
      <h1 class="ui header editable" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.title">{{title}}</h1>
      <div class="ui embed" data-url="{{video}}?autoplay=1" data-autoplay="true"></div>
      {{#if isEditing}}
      <div class="field">
        <small>Embed video url</small>
        <p class="editable" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.video">{{video}}</p>
      </div>
      {{/if}}
      {{#if isEditingOr description}}
        <h3 class="ui header editable" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.description">{{description}}</h3>
      {{/if}}
    </div>
  </div>

</template>
