@media (min-width:320px) {
  .videoSlideContainer {
    padding-top: 2rem;
  }
}
@media (min-width:641px) {
  .videoSlideContainer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate3d(-50%,-30%,0);
  }
}
