<template name='home'>

  <div class="ui container homeContainer">

    <div class="ui basic segment">
      <div class="ui column stackable grid">
        <div class="five wide column">
          <h1 class="ui center aligned header">Welcome to Prez&Polls!</h1>
          <h2 class="ui center aligned header">A new way to engage your audience in real time.</h2>
          <p class="ui header">
            It's quite easy to make a presentation and show it to an audience. But if you want inputs from them, you'll have to setup complicated tools and devices. Well, not anymore.
          </p>
          <p class="ui header">
            With Prez&Polls you just share the address of your live presentation and you are in control of the sliding. Every viewer of your presentation watch the pages flowing as you push the button. It works on any devices.
          </p>
          <p class="ui header">
            And with the polls slides you can ask questions to your audience and get live graphs from the answers. You stay in control as you see the numbers of viewers and answers updated in real time.
          </p>
          {{#if isGuest}}
            <div class="ui basic center aligned segment">
              <div class="ui buttons">
                <a href="/sign-in" class="ui primary button">Sign in</a>
                <div class="or"></div>
                <a href="/sign-up" class="ui secondary button">Sign up</a>
              </div>
            </div>
          {{/if}}
          <p class="ui tiny center aligned header">
            Prez&Polls is still in early alpha.
          </p>
        </div>

        <div class="eleven wide column">

          <h2 class="ui header">Your presentations</h2>
          {{#if myPresentations}}
          <div class="ui four stackable cards">
            {{#each myPresentations}}
            <a class="ui link raised card" href="{{pathFor 'play' prez=_id}}">
              <div class="content">
                <div class="header">{{toUpperCase title}}</div>
                <div class="meta">{{fromNow createdAt}}</div>
                <div class="description">
                  {{chaptersCount}} chapter{{plural chaptersCount}} & {{slidesCount}} slide{{plural slidesCount}}
                </div>
              </div>
              <div class="extra content">
                <i class="check icon"></i>
                {{viewersCount}} Viewer{{plural viewersCount}}
              </div>
              <div class="ui bottom attached buttons">
                <a class="ui primary compact icon button" href="{{pathFor 'play' prez=_id}}"><i class="large play icon"></i></a>
                <a class="ui secondary compact icon button" href="{{pathFor 'edit' prez=_id}}"><i class="large edit icon"></i></a>
              </div>
            </a>
            {{/each}}
          </div>
          {{else}}
          <button class="ui large fluid positive icon labeled button createPrezBigBtn"><i class="plus icon"></i>Create a presentation</button>
          {{/if}}

          <div class="ui divider"></div>

          <h2 class="ui header">Public presentations</h2>
          <div class="ui four stackable cards">
            {{#each presentations}}
            <a class="ui link raised card" href="{{pathFor 'play' prez=_id}}">
              <div class="content">
                <div class="header">{{toUpperCase title}}</div>
                <div class="meta">{{fromNow createdAt}}</div>
                <div class="description">
                  {{chaptersCount}} chapter{{plural chaptersCount}} & {{slidesCount}} slide{{plural slidesCount}}
                </div>
              </div>
              <div class="extra content">
                <i class="check icon"></i>
                {{viewersCount}} Viewer{{plural viewersCount}}
              </div>
              {{#if isLiveOnly}}
                <a class="ui primary bottom attached compact icon button" href="{{pathFor 'play' prez=_id}}"><i class="large play icon"></i></a>
              {{else}}
                <div class="ui bottom attached buttons">
                  <a class="ui primary compact icon button" href="{{pathFor 'play' prez=_id}}"><i class="large play icon"></i></a>
                  <a class="ui secondary compact icon button" href="{{pathFor 'view' prez=_id chapter=0 slide=0}}"><i class="large eye icon"></i></a>
                </div>

              {{/if}}
            </a>
            {{/each}}
          </div>

        </div>
      </div>
    </div>

  </div>

</template>
