<template name='editSidebar'>
  <div class="ui left wide sidebar ui segment presentationSidebar">
    {{#with presentation}}
    <i class="big grey setting link icon prezSettings" data-title="Presentation settings" data-position="right center"></i>
      <h1 class="ui header editable" data-field="title" data-title="Presentation title" data-position="right center">{{title}}</h1>
      <div class="ui divider"></div>
      {{#each chapters}}
        {{#unless isOnlyOneChapter}}
          <i class="large red delete link icon deleteChapterBtn" data-title="Delete chapter {{plusOne @index}}" data-position="right center" data-index="{{@index}}" ></i>
        {{/unless}}
        <h2 class="ui header editable" data-field="chapters.{{@index}}.title" data-title="Chapter {{plusOne @index}} title" data-position="right center">{{title}}</h2>
        {{#each slides}}
          <div class="ui {{isActiveSlide ../order @index}} {{slideColor type}} fluid large compact buttons slideSideBtns">
            <button class="ui ok labeled icon button sidebarSlide" data-index="{{@index}}"  data-chapter="{{../order}}">
              <i class="{{slideIcon type}} icon"></i>
              {{title}}
            </button>
            <button class="ui compact icon button deleteSlideBtn"  data-index="{{@index}}"  data-chapter="{{../order}}" data-title="Delete this slide" data-position="right center">
              <i class="delete icon"></i>
            </button>
          </div>
        {{/each}} <!-- slides end -->
        <button class="ui secondary fluid large compact labeled icon button addSlide" data-chapter="{{@index}}">
          <i class="plus icon"></i>
          Add a slide
        </button>
        <div class="ui divider"></div>
      {{/each}} <!-- chapters end -->
      <button class="ui basic fluid large compact labeled icon button addChapter">
        <i class="plus icon"></i>
        Add a chapter
      </button>
    {{/with}}
  </div>

  <!-- New slide modal to choose type -->
  <div class="ui basic modal newSlideType">
    <i class="close icon"></i>
    <div class="header">
      What type of slide do you want to add?
    </div>
    <div class="actions">
      <div class="ui ok green inverted medium labeled icon button slideTypeBtn"
        data-content="Large title & description"
        data-position="top center"
        data-ref="coverSlide">
        <i class="header icon"></i>
        Cover slide
      </div>
      <div class="ui ok blue inverted medium labeled icon button slideTypeBtn"
        data-content="Ask questions & get stats"
        data-position="top center"
        data-ref="pollSlide">
        <i class="pie chart icon"></i>
        Poll slide
      </div>
      <div class="ui ok teal inverted medium labeled icon button slideTypeBtn"
        data-content="Title & multilines text"
        data-position="top center"
        data-ref="textSlide">
        <i class="file text outline icon"></i>
        Text slide
      </div>
      <div class="ui ok orange inverted medium labeled icon button slideTypeBtn"
        data-content="Title & large image"
        data-position="top center"
        data-ref="imageSlide">
        <i class="file image outline icon"></i>
        Image slide
      </div>
      <div class="ui ok red inverted medium labeled icon button slideTypeBtn"
        data-content="Title & large video"
        data-position="top center"
        data-ref="videoSlide">
        <i class="film icon"></i>
        Video slide
      </div>
    </div>
  </div>

  <!-- Warning modal in case of deletion -->
  <div class="ui basic modal deleteWarningModal">
    <i class="close icon"></i>
    <div class="ui icon header">
      <i class="trash icon"></i>
      Are you sure?
    </div>
    <div class="content">
      <h3 class="ui center aligned inverted header">You won't be able to revert this deletion!</h3>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted icon labeled button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted icon labeled button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>

</template>
