.prezSettings {
  float: right;
  z-index: 999;
}
.slideSideBtns {
  padding-bottom: 2px;
}
.presentationSidebar .editable {
  border-bottom: 2px solid grey;
  min-height: 1em !important;
}
.deleteChapterBtn {
  float: right;
  z-index: 999;
  margin-top: -10px !important;
}
