<template name='header'>
  <div class="ui top fixed inverted borderless blue icon menu">
    <div class="left menu">
      {{#if isPrezOwner}}
        {{#if isEditing}}
        <a class="item showPrezSidebar" data-title="Show presentation edition sidebar">
          <i class="big content icon"></i>
        </a>
        <a class="item" href="{{pathFor 'play' prez=prez}}">
          <i class="big save icon"></i>
        </a>
        {{else}}
        <a class="item" href="{{pathFor 'edit' prez=prez}}">
          <i class="big edit icon"></i>
        </a>
        {{/if}}
      {{else}}
        <a class="item createPrez" data-title="Create a new presentation">
          <i class="big plus icon createPrezIcon"></i>
        </a>
      {{/if}}
      {{#if isPlaying}}
        <a class="item showUrl">
          <i class="large world icon"></i>
        </a>
      {{/if}}
    </div>
    {{#if isHome}}
      <div class="center header item">
        <i class="big pied piper icon"></i>
      </div>
    {{else}}
      <a class="center header item" href="{{pathFor 'home'}}">
        <i class="big pied piper icon"></i>
      </a>
    {{/if}}
    <div class="right menu">
      {{#if isPlaying}}
        <a class="item showPlaySidebar">
          {{#if messagesCount}}
            <b>{{messagesCount}}</b>&nbsp;
          {{/if}}
          <i class="large comments outline icon"></i>
        </a>
      {{/if}}
      {{#if isGuest}}
        <a class="item" href="/sign-in">
          {{#unless isHome}}
            <b>{{viewers}}</b>&nbsp;
          {{/unless}}
          <i class="big user icon"></i>
        </a>
      {{else}}
        <div class="ui dropdown link item">
          <span class="text">
            {{#unless isHome}}
              <b>{{viewers}}</b>&nbsp;
            {{/unless}}
            <i class="big user icon"></i>
          </span>
          <div class="menu">
            <a class="item disabled">Profile</a>
            <a class="item signOutBtn">Sign out</a>
          </div>
        </div>
      {{/if}}
    </div>
  </div>

  <!-- Presentation title and id modal  -->
  <div class="ui basic modal prezTitleModal">
    <i class="close icon"></i>
    <div class="header">
      What's the title (and the short name) of your presentation?
    </div>
    <div class="content">
      <div class="description">
        <form class="ui form" id="prezTitleForm">
          <label for="prezTitle">Presentation title</label>
          <div class="field">
            <div class="ui fluid input">
              <input type="text" placeholder="Presentation title" id="prezTitle">
            </div>
          </div>
          <label for="prezId">Presentation short name (must be unique and URL valid)</label>
          <div class="field" id="prezIdField">
            <div class="ui fluid labeled icon input" id="prezIdInput" data-title="We're trying to create it with your title" data-content="If it stays red, it means it's not unique. Try to change it a little, like adding a number at the end." data-variation="very wide" data-position="bottom center">
              <div class="ui label">
                prez.win/
              </div>
              <input type="text" placeholder="Presentation short name (must be unique)" id="prezId">
              <i class="green check icon" id="prezIdIcon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="actions">
      <div class="one fluid ui inverted buttons">
        <div class="ui ok green basic inverted button disabled createPrezBtn">
          <i class="checkmark icon"></i>
          Let's create it
        </div>
      </div>
    </div>
  </div>

  <!-- Prez URL Modal -->
  <div class="ui basic modal prezUrlModal">
    <i class="close icon"></i>
    <div class="ui huge center aligned header" style="font-size: 5rem;">
      {{prezUrl}}
    </div>
  </div>
</template>
