<template name='header'>
  <div class="ui top fixed inverted borderless blue menu">
    <div class="left menu">
      {{#if isPrezOwner}}
        {{#if isEditing}}
        <a class="item" href="{{pathFor 'play' prez=prez}}">
          <i class="large save icon"></i>
        </a>
        {{else}}
        <a class="item" href="{{pathFor 'edit' prez=prez}}">
          <i class="large edit icon"></i>
        </a>
        {{/if}}
      {{else}}
        <a class="item createPrez" >
          <i class="big plus icon createPrezIcon"></i>
        </a>
      {{/if}}
    </div>
    <a class="center header item" href="{{pathFor 'home'}}">
      <h1 class="ui inverted header">
        {{#if prezTitle}}
          {{prezTitle}}
        {{else}}
          Prez&Polls
        {{/if}}
      </h1>
    </a>
    <div class="right menu">
      {{#if isGuest}}
        <a class="item" href="/sign-in">
          {{#if isHome}}
          Welcome Guest
          {{else}}
          <b>{{viewers}}</b>&nbsp;<i class="big user icon"></i>
          {{/if}}
        </a>
      {{else}}
        <div class="ui dropdown link item">
          {{#if isHome}}
          <span class="text">Welcome {{capitalize userName}}</span>
          {{else}}
          <span class="text"><b>{{viewers}}</b>&nbsp;<i class="big user icon"></i></span>
          {{/if}}
          <div class="menu">
            <a class="item signOutBtn">Sign out</a>
          </div>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="ui basic modal prezTitleModal">
    <i class="close icon"></i>
    <div class="header">
      What's the title of your presentation?
    </div>
    <div class="content">
      <div class="description">
        <div class="ui form">
          <div class="field">
            <div class="ui fluid input">
              <input type="text" placeholder="Presentation title" id="prezTitle">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="one fluid ui inverted buttons">
        <div class="ui ok green basic inverted button createPrezBtn">
          <i class="checkmark icon"></i>
          Let's create it
        </div>
      </div>
    </div>
  </div>
</template>
