<template name='playSidebar'>
  <div class="ui right wide sidebar ui segment playSidebar">
    <i class="big close link icon closeChat"></i>

    <div class="ui minimal comments chatContent">
      <h3 class="ui dividing header">Public discussion</h3>
      {{#each messages}}
        <div class="comment">
          <div class="content">
            <a class="author">Viewer {{truncate who 4}}</a>
            <div class="metadata">
              <span class="date">{{fromNow when}}</span>
              {{#if isPrezOwner}}
                <i class="red link delete icon deleteMessage"></i>
              {{/if}}
            </div>
            <div class="text">
              {{what}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="ui massive fluid bottom fixed inverted blue borderless menu">
      <div class="item header">
        {{clock}}
      </div>
      <div class="right menu">
        <div class="item">
          <div class="ui big icon input">
            <input type="text" placeholder="Say something :)" id="messageInput">
            <i class="blue link send icon postMessage"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
