<template name='playSidebar'>
  <div class="ui right wide sidebar ui segment playSidebar">
    <i class="big close link icon closeChat"></i>

    <div class="ui comments chatContent">
      <h3 class="ui dividing header">Public discussion</h3>
      {{#if hasMessages}}
        {{#each messages}}
        <div class="comment">
          <div class="content">
            <a class="author">{{author}}</a>
            <div class="metadata">
              <span class="date">{{fromNow when}}</span>
            </div>
            <div class="text">
              {{text}}
            </div>
          </div>
        </div>
        {{/each}}
        <div class="replyForm">
          <form class="ui reply form ">
            <div class="field">
              <textarea cols="3" class="replyBox"></textarea>
            </div>
            <div class="ui fluid blue labeled submit icon button postMessage">
              <i class="sendicon"></i> Post public message
            </div>
          </form>
        </div>
      {{else}}
        <p>
          No opened discussion for the moment.
        </p>
      {{/if}}
    </div>

  </div>
</template>
