<template name='simplePoll'>
  <div class="transitions-content">
    <div class="ui container">
      <div class="ui basic segment">
        <h1 class="ui center aligned header editable">What is your favorite color ?</h1>
        <button class="ui huge red button">Red</button>
        <button class="ui huge orange button">Orange</button>
        <button class="ui huge yellow button">Yellow</button>
        <button class="ui huge olive button">Olive</button>
        <button class="ui huge green button">Green</button>
        <button class="ui huge teal button">Teal</button>
        <button class="ui huge blue button">Blue</button>
        <button class="ui huge violet button">Violet</button>
        <button class="ui huge purple button">Purple</button>
        <button class="ui huge pink button">Pink</button>
        <button class="ui huge brown button">Brown</button>
        <button class="ui huge grey button">Grey</button>
        <button class="ui huge black button">Black</button>
        {{#if color}}
          <h2 class="ui {{toLowerCase color}} center aligned header editable">The color is {{color}}</h2>
        {{/if}}
      </div>
    </div>
  </div>
</template>
