<template name='play'>
  <div class="transitions-container"  style="height:100%;">
    <i class="large world blue link icon showUrl"></i>
    {{> UI.dynamic template=flip data=slide}}
  </div>
  <div class="ui large compact icon buttons pagination-buttons">
    <div class="ui button viewLeft"><i class="angle double left icon"></i></div>
    <div class="ui disabled button">
      {{#if chapterPosition}}
        C.{{chapterPosition}} -
      {{/if}}
      {{slidePagination}}
    </div>
    <div class="ui button viewRight"><i class="angle double right icon"></i></div>
  </div>
  {{#if isPrezOwner}}
    {{> footer}}
    <style media="screen">
    .pagination-buttons {
      bottom: 4.5rem;
    }
    </style>
  {{/if}}

  <!-- Prez URL Modal -->
  <div class="ui basic modal prezUrlModal">
    <div class="ui huge center aligned header" style="font-size: 3em;">
      {{prezUrl}}
    </div>
  </div>
</template>
