<template name='textSlide'>
  <div class="transitions-content">
    <div class="ui container">
      <div class="ui basic center aligned segment">
        <h1 class="ui header editable">Text slide</h1>
        <div class="ui vertical segment">
          <img class="ui wireframe image" src="/short-paragraph.png">
        </div>
        <div class="ui vertical segment">
          <img class="ui wireframe image" src="/short-paragraph.png">
        </div>
        <div class="ui vertical segment">
          <img class="ui wireframe image" src="/short-paragraph.png">
        </div>
      </div>
    </div>
  </div>
</template>
