@media (min-width:320px) {
  .textSlideContainer {
    position: absolute;
    top: 20%;
  }
}
@media (min-width:641px) {
  .textSlideContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
  }
}
