<template name='settings'>
  {{#if isPrezOwner}}
  <div class="ui container">
    <div class="ui basic segment">
      {{#with presentation}}
        <h1 class="ui center alligned header">Presentation settings</h1>
        <form class="ui form">
          <h3 class="ui dividing header">URL address</h3>
          <div class="field" id="settingsPrezIdField">
            <label for="settingsPrezId">Presentation short name for the URL address (must be unique)</label>
            <div class="ui fluid labeled icon input" id="settingsPrezIdInput" data-title="If it stays red, it means it's not unique" data-content="Try to change it a little, like adding a number at the end." data-variation="very wide" data-position="top center">
              <div class="ui label">
                prez.win/
              </div>
              <input type="text" placeholder="Presentation short name (must be unique)" id="settingsPrezId" value="{{_id}}">
              <i class="green check icon" id="settingsPrezIdIcon"></i>
            </div>
          </div>
          <button class="ui positive fluid icon labeled button disabled setPrezId"><i class="check icon"></i>Apply URL change</button>
          <h3 class="ui dividing header">Access controls</h3>
          <div class="field">
            <div class="ui slider checkbox" data-title="Every body can access your presntation" data-content="With the valid URL address" data-variation="very wide" data-position="right center">
              <input type="checkbox" name="isPublic" id="isPublic" {{isChecked isPublic}}>
              <label for="isPublic">Public presentation</label>
            </div>
          </div>
          <div class="field">
            <div class="ui slider checkbox" data-title="Your presntation is listed" data-content="People can find it on Prez&Polls first page and search engine" data-variation="very wide" data-position="right center">
              <input type="checkbox" name="isListed" id="isListed" {{isChecked isListed}}>
              <label for="isListed">Listed presentation</label>
            </div>
          </div>
          <div class="field">
            <div class="ui slider checkbox" data-title="Your controll your presentation" data-content="When activated, people can't slide thru your presentation. Only you can change the slide they are viewing whe accessing your." data-variation="very wide" data-position="right center">
              <input type="checkbox" name="isLiveOnly" id="isLiveOnly" {{isChecked isLiveOnly}} >
              <label for="isLiveOnly">Live only presentation</label>
            </div>
          </div>

          <h3 class="ui dividing header">Data management</h3>
          <div class="field">
            <div class="ui fluid large buttons">
              <div class="ui red basic button resetViews">Reset presentations views</div>
              <div class="ui red button resetVotes">Reset presentation answers</div>
            </div>
          </div>
          <div class="field">
            <button class="ui fluid negative large icon labeled button deletePresentationBtn"><i class="trash icon"></i>DELETE PRESENTATION</button>
          </div>
        </form>
      {{/with}}
    </div>
  </div>

  <!-- Warning modal in case of deletion -->
  <div class="ui basic modal changePrezIdWarning">
    <i class="close icon"></i>
    <h2 class="ui icon center aligned header">
      <i class="red warning sign icon"></i>
      THIS IS A BIG CHANGE, ARE YOU SURE?
    </h2>
    <div class="content">
      <h3 class="ui center aligned inverted header">The previous URL to your presntation will not work anymore. This will also reset all the answers and views of this presentation. Finally the presentation creation date will be set to now.</h3>
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted icon labeled button">
        <i class="remove icon"></i>
        No, keep the previous URL
      </div>
      <div class="ui green basic ok inverted icon labeled button">
        <i class="checkmark icon"></i>
        Yes, change my URL
      </div>
    </div>
  </div>
  {{/if}}
</template>
