<template name='gaugeStat'>
  <div class="transitions-content">
    <div class="ui container">
      <div class="ui basic center aligned segment">
        <h1 class="ui header editable">Results</h1>
        <div id="gaugeChart2"></div>
        <div id="gaugeChart3"></div>
        <div id="gaugeChart4"></div>
        <div id="gaugeChart5"></div>
        <div class="ui labeled icon button backToPoll"><i class="angle double left icon"></i>Back to poll</div>
      </div>
    </div>
  </div>
</template>
