<template name='multiPointsQuestion'>
  {{#if isEditing}}
    {{#each answers}}
      <div class="ui four column middle aligned stackable grid">
        <div class="column">
          <h3 class="ui header editable" data-title="One of the answer to the question: {{question.text}}" data-content="This will also be used as the label in the resulting graph." data-variation="very wide" data-field="chapters.{{indexes.chapterIndex}}.slides.{{indexes.slideIndex}}.questions.{{indexes.questionIndex}}.answers.{{@index}}.text">
            {{text}}
          </h3>
        </div>
        <div class="column">
          <input type="hidden" class="iconInput" id="iconInput_{{answerId}}" value="chapters.{{indexes.chapterIndex}}.slides.{{indexes.slideIndex}}.questions.{{indexes.questionIndex}}.answers.{{@index}}.icon">
          <select class="ui fluid labeled icon dropdown answerIcon" id="icon_{{answerId}}">
            <option value="">Icon</option>
            {{#each icons}}
            <option {{isSelectedIcon ../icon this}} value="{{this}}"><i class="{{this}} icon"></i>{{capitalize this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="column">
          <input type="hidden" class="colorInput" id="colorInput_{{answerId}}" value="chapters.{{indexes.chapterIndex}}.slides.{{indexes.slideIndex}}.questions.{{indexes.questionIndex}}.answers.{{@index}}.color">
          <select class="ui fluid labeled icon dropdown answerColor" id="color_{{answerId}}">
            <option value="">Color</option>
            {{#each colors}}
            <option {{isSelectedColor ../color this}} value="{{this}}"><div class="ui {{this}} empty circular label"></div>{{capitalize this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="column">
          <div class="ui orange fluid icon labeled button deleteAnswerBtn" data-ref="{{@index}}" data-index="{{indexes.questionIndex}}">
            <i class="delete icon"></i>
            Delete this answer
          </div>
        </div>
      </div>
    {{/each}}

  {{else}}

  <div class="ui four stackable cards">
    {{#each answers}}
    <div class="ui raised {{color}} card" id="card_{{answerId}}">
      <div class="content">
        <div class="header">
          {{text}}
        </div>
      </div>
      <div class="extra">
        Rating:
        <div class="ui {{icon}} rating" id="{{answerId}}" data-ref="{{text}}" data-question="{{questionId}}"></div>
      </div>
    </div>
    {{/each}}
  </div>

  {{/if}}
</template>
