<template name='footer'>
  <div class="ui bottom fixed inverted labeled icon menu">
    <div class="left menu">
      <a class="item" href="{{pathFor 'home'}}">
        <i class="home icon"></i>
        Home
      </a>
    </div>
    {{#if isEditing}}
      <a class="center header item" href="{{pathFor 'play' prez=prez}}">
        <i class="play icon"></i>
        Play
      </a>
    {{else}}
      <a class="center header item" href="{{pathFor 'edit' prez=prez}}">
        <i class="edit icon"></i>
        Edit
      </a>
    {{/if}}
    <div class="right menu">
      <a class="item previousSlide">
        <i class="angle double left icon"></i>
        Previous
      </a>
      <a class="item nextSlide">
        <i class="angle double right icon"></i>
        Next
      </a>
    </div>
  </div>
</template>
