<template name='footer'>
  <div class="ui bottom fixed inverted borderless menu">
    <div class="left menu">
      {{#if isEditing}}
      <a class="item" href="{{pathFor 'play' prez=prez}}">
        <i class="large save icon"></i>
      </a>
      {{else}}
      <a class="item" href="{{pathFor 'edit' prez=prez}}">
        <i class="large edit icon"></i>
      </a>
      {{/if}}
      {{#if isPollSlide}}
      <a class="item viewStat" >
        <b>{{voters}}</b>&nbsp;<i class="large {{activeStat}} pie chart icon"></i>
      </a>
      {{/if}}
    </div>
    <div class="right menu">
      <a class="item previousSlide" data-transition-out="scaleOut" data-transition-in="slideFadeDownIn">
        {{#if viewersWant.left}}
          <b>{{viewersWant.left}}</b>&nbsp;
        {{/if}}
        <i class="large angle double left icon"></i>
      </a>
      <a class="item nextSlide" data-transition-out="scaleOut" data-transition-in="slideFadeDownIn">
        {{#if viewersWant.right}}
        <b>{{viewersWant.right}}</b>&nbsp;
        {{/if}}
        <i class="large angle double right icon"></i>
      </a>
    </div>
  </div>
</template>
