<template name='edit'>
  {{#if isPrezOwner}}
    <div class="transitions-container editContainer"  style="height:100%;">
      <button class="ui big compact primary icon button showPrezSidebar"><i class=" content icon "></i></button>
      {{> UI.dynamic template=flip data=slide}}
    </div>
    {{> footer}}
  {{else}}
    <div class="ui basic center aligned segment">
      <a class="ui large button" href="{{pathFor 'play' prez=prezId}}">You must be one of the presentation owners to edit it.</a>
    </div>
  {{/if}}
</template>
