.coverSlideConatainer h1 {
  font-size: 6rem !important;
}
.coverSlideConatainer h2 {
  font-size: 4rem !important;
}
@media (min-width:320px) {
  .coverSlideConatainer {
    position: absolute;
    top: 20%;
  }
}
@media (min-width:641px) {
  .coverSlideConatainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
  }
}
