.coverSlideConatainer {

}

.coverSlideConatainer h1 {
  font-size: 8rem !important;
}
.coverSlideConatainer h2 {
  font-size: 7rem !important;
}
.coverSlideConatainer h3 {
  font-size: 6rem !important;
}
