<template name='coverSlide'>
  <div class="transitions-content">
    <div class="ui container coverSlideConatainer">
      <div class="ui one column stackable center aligned page grid ">
        <div class="column twelve wide">
          <br>
          <h1 class="ui header editable" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.title">{{title}}</h1>
          <h2 class="ui header editable" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.description">{{description}}</h2>
        </div>
      </div>
    </div>
  </div>
</template>
