@media (min-width:320px) {
  .imageSlideContainer {
    position: absolute;
    top: 20%;
  }
}
@media (min-width:641px) {
  .imageSlideContainer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate3d(-50%,-30%,0);
  }
}
