<template name='imageSlide'>

  <div class="ui container imageSlideContainer">
    <div class="ui {{color}} center aligned segment">
      <h1 class="ui header editable" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.title" data-title="Image slide title" data-position="top center">{{title}}</h1>
      <img class="ui massive centered image" src="{{image}}">
    </div>
    {{#if isEditing}}
      <div class="ui basic center aligned segment">
        <div class="field">
          <div class="ui fluid icon labeled button editImageBtn" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.image"><i class="image icon"></i>Slide main image</div>
        </div>
      </div>
    {{/if}}
    {{#if isEditingOr description}}
      <div class="ui {{color}} center aligned segment">
        <h3 class="ui header editable" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.description" data-content="Image slide additional text" data-position="top center">{{description}}</h3>
      </div>
    {{/if}}
    {{#if isEditing}}
      <div class="ui center aligned segment">
        <div class="ui two column grid">
          <div class="column">
            <div class="field">
              <div class="ui fluid icon labeled button editImageBtn" data-field="chapters.{{chapterIndex}}.slides.{{slideIndex}}.backgroundImage"><i class="image icon"></i>Background image</div>
            </div>
          </div>
          <div class="column">
            <input type="hidden" class="slideColorInput" id="slideColorInput" value="chapters.{{chapterIndex}}.slides.{{slideIndex}}.color">
            <select class="ui fluid labeled icon dropdown slideColor" id="slideColor">
              <option value="">Color</option>
              {{#each colors}}
              <option {{isSelectedColor ../color this}} value="{{this}}"><div class="ui {{this}} empty circular label"></div>{{capitalize this}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

</template>
